includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    excludePaths:
        - app/Console/Commands/*.php
    ignoreErrors:
        # Errores temporales que se irán corrigiendo gradualmente
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Relation.*is not found#'
        - '#Parameter.*expects.*given#'
        - '#Variable.*might not be defined#'
        - '#Unreachable statement#'